resources/xsd/generator/vra-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.vraweb.org/vracore4.htm"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.vraweb.org/vracore4.htm"
            version="4.0.42"
            xml:lang="en"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
   <xsd:annotation>
      <xsd:documentation>This schema is an extension (patched version) of the VRA Core version 4.0 used at the University of Heidelberg for the implementation of Ziziphus, an implementation of an VRA editor. We use a patched version rather than a Schema overwrite or extension version for pragmatic reasons: - handling of the schema is easier within common tools such as Oxygen - some extensions are hard to do with pure extensions (not allowing overwrites) as known in XML Schema 1.0 and are either hard to do with pure 'overwride" mechanism of XML Schema 1.1. Further tool support for XML Schema 1.1 is still incomplete and requires specific configuration. Extensions (patches) in this schema are marked with "EXTENSION START" for the start and "EXTENSION END" to simplify the manual merging process that will be needed when migrating to a newer VRA version. Further documentation can be found as a Googledoc at https://docs.google.com/document/d/1ZXVCOuZLg6-FlYaQaBTVw2OsKNn4dr1KfqJgw25I0zA/edit#heading=h.vj515vkolvh7</xsd:documentation>
   </xsd:annotation>
   <xsd:import namespace="http://www.w3.org/XML/1998/namespace"
               schemaLocation="http://www.w3.org/2001/xml.xsd">
      <xsd:annotation>
         <xsd:documentation>Get access to the xml: attribute groups for xml:lang as declared below.</xsd:documentation>
      </xsd:annotation>
   </xsd:import>
   <xsd:simpleType name="languageOfCatalogingType">
      <xsd:restriction base="xsd:string">
         <xsd:pattern value="[a-z]{3}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="catalogingScriptType">
      <xsd:restriction base="xsd:string">
         <xsd:pattern value="[a-z]{4}"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="roleString">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="code"/>
         <xsd:enumeration value="term"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="langType">
      <xsd:annotation>
         <xsd:documentation>
                    three-character code according to ISO 639-2b (e.g. eng, ger, chi, hin)
                </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:pattern value="[a-z][a-z][a-z]"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="scriptType">
      <xsd:annotation>
         <xsd:documentation>
                    four-character code according to ISO 15924 (e.g. Latn, Arab, Hans, Deva)
                </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:pattern value="[A-Z][a-z][a-z][a-z]"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="transliterationType">
      <xsd:annotation>
         <xsd:documentation>values as in the “transliteration scheme” dropdown for the Tamboti MODS-editor, using an expanded ALA-LC list (e.g. “Arabic/ALA-LC”, “Chinese/modified Wade-Giles”)</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:complexType name="basicString">
      <xsd:annotation>
         <xsd:documentation>Basic datatype for all freetext values. Allows assignment of source, vocabulary, refid and language attributes to virtually any value.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="xsd:string">
            <xsd:attribute name="dataDate" type="dateValueType"/>
            <xsd:attribute name="extent" type="xsd:string"/>
            <xsd:attribute name="href" type="xsd:anyURI"/>
            <xsd:attribute ref="xml:lang"/>
            <xsd:attribute name="pref" type="xsd:boolean"/>
            <xsd:attribute name="refid" type="xsd:string"/>
            <xsd:attribute name="rules" type="xsd:string"/>
            <xsd:attribute name="source" type="xsd:string"/>
            <xsd:attribute name="vocab" type="xsd:string"/>
            <xsd:attribute name="lang" type="langType"/>
            <xsd:attribute name="transliteration" type="xsd:string"/>
            <xsd:attribute name="script" type="scriptType"/>
            <xsd:attribute name="lastAccessed" type="xsd:date"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="dateValueType">
      <xsd:annotation>
         <xsd:documentation source="http://www.cl.cam.ac.uk/~mgk25/iso-time.html">
          Defines a date which follows the ISO 8601 date format, and allows
          right truncation (unlike the XML Schema date datatype). This datatype
          does not allow for time or time zone information.

          In brief, the following formats are allowed:
            present
            2006            (2006)
            2006-12         (December, 2006)
            2006-12-31      (31 December 2006)
            -44             (44 BCE)
            -44-03          (March, 44 BCE)
            -44-03-15       (15 March, 44 BCE)
            -10000000       (10 Million Years Ago)
            -100000000000   (100 Billion Years Ago)
        </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:pattern value="present|(-)*[0-9]{1,12}(-[0-9]{2}(-[0-9]{2})*)*"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="agentDateTypeType">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="activity"/>
         <xsd:enumeration value="life"/>
         <xsd:enumeration value="other"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="agentNameTypeType">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="personal"/>
         <xsd:enumeration value="corporate"/>
         <xsd:enumeration value="family"/>
         <xsd:enumeration value="other"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="dateTypeType">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="alteration"/>
         <xsd:enumeration value="broadcast"/>
         <xsd:enumeration value="bulk"/>
         <xsd:enumeration value="commission"/>
         <xsd:enumeration value="creation"/>
         <xsd:enumeration value="design"/>
         <xsd:enumeration value="destruction"/>
         <xsd:enumeration value="discovery"/>
         <xsd:enumeration value="exhibition"/>
         <xsd:enumeration value="inclusive"/>
         <xsd:enumeration value="performance"/>
         <xsd:enumeration value="publication"/>
         <xsd:enumeration value="restoration"/>
         <xsd:enumeration value="view"/>
         <xsd:enumeration value="other"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="alternativeNotationDateAttributeType">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="before"/>
         <xsd:enumeration value="after"/>
         <xsd:enumeration value="about"/>
         <xsd:enumeration value="probably"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="inscriptionTextTypeType">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="signature"/>
         <xsd:enumeration value="mark"/>
         <xsd:enumeration value="caption"/>
         <xsd:enumeration value="date"/>
         <xsd:enumeration value="text"/>
         <xsd:enumeration value="translation"/>
         <xsd:enumeration value="other"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="locationTypeType">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="creation"/>
         <xsd:enumeration value="discovery"/>
         <xsd:enumeration value="exhibition"/>
         <xsd:enumeration value="formerOwner"/>
         <xsd:enumeration value="formerRepository"/>
         <xsd:enumeration value="formerSite"/>
         <xsd:enumeration value="installation"/>
         <xsd:enumeration value="intended"/>
         <xsd:enumeration value="owner"/>
         <xsd:enumeration value="performance"/>
         <xsd:enumeration value="publication"/>
         <xsd:enumeration value="repository"/>
         <xsd:enumeration value="site"/>
         <xsd:enumeration value="other"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="locationRefidTypeType">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="accession"/>
         <xsd:enumeration value="barcode"/>
         <xsd:enumeration value="shelfList"/>
         <xsd:enumeration value="other"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="locationNameTypeType">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="corporate"/>
         <xsd:enumeration value="geographic"/>
         <xsd:enumeration value="personal"/>
         <xsd:enumeration value="other"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="materialTypeType">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="medium"/>
         <xsd:enumeration value="support"/>
         <xsd:enumeration value="other"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="shapeType">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="oval"/>
         <xsd:enumeration value="cube"/>
         <xsd:enumeration value="sphere"/>
         <xsd:enumeration value="rectangle"/>
         <xsd:enumeration value="circle"/>
         <xsd:enumeration value="irregular"/>
         <xsd:enumeration value="landscape"/>
         <xsd:enumeration value="portrait"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="measurementsTypeType">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="area"/>
         <xsd:enumeration value="base"/>
         <xsd:enumeration value="bitDepth"/>
         <xsd:enumeration value="circumfrence"/>
         <xsd:enumeration value="count"/>
         <xsd:enumeration value="depth"/>
         <xsd:enumeration value="diameter"/>
         <xsd:enumeration value="distanceBetween"/>
         <xsd:enumeration value="duration"/>
         <xsd:enumeration value="fileSize"/>
         <xsd:enumeration value="height"/>
         <xsd:enumeration value="length"/>
         <xsd:enumeration value="resolution"/>
         <xsd:enumeration value="runningTime"/>
         <xsd:enumeration value="scale"/>
         <xsd:enumeration value="size"/>
         <xsd:enumeration value="target"/>
         <xsd:enumeration value="weight"/>
         <xsd:enumeration value="width"/>
         <xsd:enumeration value="other"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="measurementsUnitType">
      <xsd:annotation>
         <xsd:documentation>See http://ts.nist.gov/ts/htdocs/230/235/appxc/appxc.htm for appropriate unit types.</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="relationTypeType">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="cartoonFor"/>
         <xsd:enumeration value="cartoonIs"/>
         <xsd:enumeration value="componentOf"/>
         <xsd:enumeration value="componentIs"/>
         <xsd:enumeration value="copyAfter"/>
         <xsd:enumeration value="copyIs"/>
         <xsd:enumeration value="counterProofFor"/>
         <xsd:enumeration value="counterProofIs"/>
         <xsd:enumeration value="depicts"/>
         <xsd:enumeration value="depictedIn"/>
         <xsd:enumeration value="derivedFrom"/>
         <xsd:enumeration value="sourceFor"/>
         <xsd:enumeration value="designedFor"/>
         <xsd:enumeration value="contextIs"/>
         <xsd:enumeration value="exhibitedAt"/>
         <xsd:enumeration value="venueFor"/>
         <xsd:enumeration value="facsimileOf"/>
         <xsd:enumeration value="facsimileIs"/>
         <xsd:enumeration value="formerlyPartOf"/>
         <xsd:enumeration value="formerlyLargerContextFor"/>
         <xsd:enumeration value="imageOf"/>
         <xsd:enumeration value="imageIs"/>
         <xsd:enumeration value="mateOf"/>
         <xsd:enumeration value="modelFor"/>
         <xsd:enumeration value="modelIs"/>
         <xsd:enumeration value="partOf"/>
         <xsd:enumeration value="largerContextFor"/>
         <xsd:enumeration value="partnerInSetWith"/>
         <xsd:enumeration value="pendantOf"/>
         <xsd:enumeration value="planFor"/>
         <xsd:enumeration value="planIs"/>
         <xsd:enumeration value="prepatoryFor"/>
         <xsd:enumeration value="basedOn"/>
         <xsd:enumeration value="printingPlateFor"/>
         <xsd:enumeration value="printingPlateIs"/>
         <xsd:enumeration value="prototypeFor"/>
         <xsd:enumeration value="prototypeIs"/>
         <xsd:enumeration value="relatedTo"/>
         <xsd:enumeration value="reliefFor"/>
         <xsd:enumeration value="impressionIs"/>
         <xsd:enumeration value="replicaOf"/>
         <xsd:enumeration value="replicaIs"/>
         <xsd:enumeration value="studyFor"/>
         <xsd:enumeration value="studyIs"/>
         <xsd:enumeration value="versionOf"/>
         <xsd:enumeration value="versionIs"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="rightsStatusTypeType">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="copyrighted"/>
         <xsd:enumeration value="publicDomain"/>
         <xsd:enumeration value="undetermined"/>
         <xsd:enumeration value="other"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="sourceRefidTypeType">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="citation"/>
         <xsd:enumeration value="ISBN"/>
         <xsd:enumeration value="ISSN"/>
         <xsd:enumeration value="openURL"/>
         <xsd:enumeration value="URI"/>
         <xsd:enumeration value="vendor"/>
         <xsd:enumeration value="other"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="sourceNameTypeType">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="book"/>
         <xsd:enumeration value="donor"/>
         <xsd:enumeration value="electronic"/>
         <xsd:enumeration value="serial"/>
         <xsd:enumeration value="vendor"/>
         <xsd:enumeration value="other"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="stateEditionTypeType">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="edition"/>
         <xsd:enumeration value="impression"/>
         <xsd:enumeration value="state"/>
         <xsd:enumeration value="other"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="subjectTermTypeType">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="conceptTopic"/>
         <xsd:enumeration value="descriptiveTopic"/>
         <xsd:enumeration value="iconographicTopic"/>
         <xsd:enumeration value="otherTopic"/>
         <xsd:enumeration value="builtworkPlace"/>
         <xsd:enumeration value="geographicPlace"/>
         <xsd:enumeration value="otherPlace"/>
         <xsd:enumeration value="corporateName"/>
         <xsd:enumeration value="familyName"/>
         <xsd:enumeration value="personalName"/>
         <xsd:enumeration value="scientificName"/>
         <xsd:enumeration value="otherName"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="textrefNameTypeType">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="book"/>
         <xsd:enumeration value="catalog"/>
         <xsd:enumeration value="corpus"/>
         <xsd:enumeration value="electronic"/>
         <xsd:enumeration value="serial"/>
         <xsd:enumeration value="other"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="textrefRefidTypeType">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="citation"/>
         <xsd:enumeration value="ISBN"/>
         <xsd:enumeration value="ISSN"/>
         <xsd:enumeration value="openURL"/>
         <xsd:enumeration value="URI"/>
         <xsd:enumeration value="vendor"/>
         <xsd:enumeration value="other"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="titleTypeType">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="brandName"/>
         <xsd:enumeration value="cited"/>
         <xsd:enumeration value="creator"/>
         <xsd:enumeration value="descriptive"/>
         <xsd:enumeration value="former"/>
         <xsd:enumeration value="generalView"/>
         <xsd:enumeration value="inscribed"/>
         <xsd:enumeration value="owner"/>
         <xsd:enumeration value="partialView"/>
         <xsd:enumeration value="popular"/>
         <xsd:enumeration value="repository"/>
         <xsd:enumeration value="translated"/>
         <xsd:enumeration value="other"/>
      </xsd:restriction>
   </xsd:simpleType>
</xsd:schema>
