resources/xsd/vraClusterExtensions.xsd

<!--
    Extensions to vra
    Seite:127 inclusion.. 133 oben
-->
<xsd:schema xmlns="http://www.vraweb.org/vracore4.htm" xmlns:xsd="http://www.w3.org/2001/XMLSchema"    
    targetNamespace="http://www.vraweb.org/vracore4.htm" version="4.0.42" xml:lang="en"
    elementFormDefault="qualified" attributeFormDefault="unqualified" defaultAttributes="globalClusterAttributes">
    
    <!-- ##### cluster overrides of vra core schema ##### -->
    <!-- todo: geolocation elements -->
    <!-- todo: integrate ISO lang code schemas -->
    
    <xsd:override schemaLocation="vra.xsd" id="origin">
        <xsd:element name="description">
            <xsd:annotation>
                <xsd:documentation>
                    Description type
                </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
                <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                        <xsd:attributeGroup ref="vraAttributes"/>

                        <!-- ##### Cluster extension @stateOfPreservation ##### -->
                        <xsd:attribute type="xsd:string" name="stateOfPreservation"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
        </xsd:element>
        
        <xsd:complexType name="recordType">
            <xsd:annotation>
                <xsd:documentation>
                    Contains all the values belonging to an image or surrogate for a work
                    of art.  Child elements can appear any number of times.  Allows
                    assignment of the refid attribute to embed local system identifiers.
                    
                    Cluster implementation allows multiple heidicon elements here for data migration
                    purposes.
                </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
                <xsd:element ref="agentSet"           minOccurs="0"/>
                <xsd:element ref="culturalContextSet" minOccurs="0"/>
                <xsd:element ref="dateSet"            minOccurs="0"/>
                <xsd:element ref="descriptionSet"     minOccurs="0"/>
                <xsd:element ref="inscriptionSet"     minOccurs="0"/>
                <xsd:element ref="locationSet"        minOccurs="0"/>
                <xsd:element ref="materialSet"        minOccurs="0"/>
                <xsd:element ref="measurementsSet"    minOccurs="0"/>
                <xsd:element ref="relationSet"        minOccurs="0"/>
                <xsd:element ref="rightsSet"          minOccurs="0"/>
                <xsd:element ref="sourceSet"          minOccurs="0"/>
                <xsd:element ref="stateEditionSet"    minOccurs="0"/>
                <xsd:element ref="stylePeriodSet"     minOccurs="0"/>
                <xsd:element ref="subjectSet"         minOccurs="0"/>
                <xsd:element ref="techniqueSet"       minOccurs="0"/>
                <xsd:element ref="textrefSet"         minOccurs="0"/>
                <xsd:element ref="titleSet"           minOccurs="0"/>
                <xsd:element ref="worktypeSet"        minOccurs="0"/>     

                <!-- ##### allow heidicon elements for data migration ##### -->
                <xsd:any namespace="http://cluster-schemas.uni-hd.de" minOccurs="0" maxOccurs="unbounded"/>
                
            </xsd:sequence>
            <xsd:attributeGroup ref="vraAttributes"/>
            <xsd:attribute name="id" type="xsd:ID"/>

            <!-- ##### start: extension attributes ##### -->
            <xsd:attribute name="catalogingLanguage">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="[a-z]{3}"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="catalogingScript">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="[a-z]{4}"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <!-- ##### end: extension attributes ##### -->

        </xsd:complexType>
        
        <xsd:attributeGroup name="vraAttributes">
            <xsd:annotation>
                <xsd:documentation>
                    VRA Core metadata attributes which can be applied to virtually any
                    element.  Note that xml:lang should contain ISO 639 language codes, not
                    the English names of languages.  Although the XML Schema defines
                    xml:lang as allowing ISO 639-2 (three-letter) codes, some validators
                    will only accept ISO 639-1 (two-letter) codes.

                    todo: integrate ISO lang schemas
                </xsd:documentation>
            </xsd:annotation>
            <xsd:attribute name="dataDate" type="dateValueType"/>
            <xsd:attribute name="extent"   type="xsd:string"/>
            <xsd:attribute name="href"     type="xsd:anyURI"/>
            <xsd:attribute ref="xml:lang"/>
            <xsd:attribute name="pref"     type="xsd:boolean"/>
            <xsd:attribute name="refid"    type="xsd:string"/>
            <xsd:attribute name="rules"    type="xsd:string"/>
            <xsd:attribute name="source"   type="xsd:string"/>
            <xsd:attribute name="vocab"    type="xsd:string"/>
            
            <!-- ##### start: added attributes ##### -->
            <xsd:attribute name="lang" type="xsd:string"/>
            <xsd:attribute name="script" type="xsd:string"/>
            <xsd:attribute name="transliteration" type="xsd:string"/>
            <!-- ##### end: added attributes ##### -->

        </xsd:attributeGroup>

        <xsd:complexType name="agentType">
            <xsd:annotation>
                <xsd:documentation>
                    VRA Agent element.  Subelements are used for different types of data
                    (names, roles, dates, etc.).  At least one subelement must be provided.
                </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence minOccurs="1" maxOccurs="unbounded">
                <xsd:element name="attribution"  type="basicString"   minOccurs="0"/>
                <xsd:element name="culture"      type="basicString"   minOccurs="0"/>
                <xsd:element name="dates"        type="agentDateType" minOccurs="0"/>
                <xsd:element name="name"         type="agentNameType" minOccurs="0"/>

                <!-- ##### start: role element extended to allow @code ##### -->
                <xsd:element name="role">
                    <xsd:complexType>
                        <xsd:attribute name="code"/>
                        <xsd:attribute name="type">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="code"/>
                                    <xsd:enumeration value="term"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <!-- ##### end: role element extended to allow @code ##### -->

            </xsd:sequence>
            <xsd:attributeGroup ref="vraAttributes"/>
        </xsd:complexType>
               
        <!-- todo: uncertain date notation -->
        <xsd:complexType name="dateType">
            <xsd:annotation>
                <xsd:documentation>
                    Date element.  Allows assignment of a type attribute to distinguish
                    various types of dates (creation, completion, etc.).  Omit this
                    attribute for unknown types of dates.
                </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
                <xsd:element name="earliestDate" type="dateWrapperType" minOccurs="0"/>
                <xsd:element name="latestDate"   type="dateWrapperType" minOccurs="0"/>
                
                <!--##### cluster extension ###### -->
                <xsd:element name="alternativeNotation" type="alternativeNotationDateType"/>
            </xsd:sequence>
            <xsd:attribute name="type" type="dateTypeType"/>
            <xsd:attributeGroup ref="vraAttributes"/>
        </xsd:complexType>


        <xsd:complexType name="locationType">
            <xsd:annotation>
                <xsd:documentation>
                    Element containing a name and an identifier.  Typically used when a
                    name or description can be associated with a number of different
                    identifiers.
                </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence minOccurs="1" maxOccurs="unbounded">
                <xsd:element name="refid" type="locationRefidType" minOccurs="0"/>
                <xsd:element name="name" type="locationNameType" minOccurs="0"/>
                <xsd:element name="point" type="geoType" minOccurs="0"/>

                <!-- ##### allow geo positioning information - 'WGS84 Geo Positioning: an RDF vocabulary'  ##### -->
                <xsd:any namespace="http://www.w3.org/2003/01/geo/wgs84_pos#"/>
            </xsd:sequence>
            <xsd:attributeGroup ref="vraAttributes"/>
            <xsd:attribute name="type" type="locationTypeType"/>
        </xsd:complexType>

        <xsd:complexType name="measurementsType">
            <xsd:annotation>
                <xsd:documentation>Measurement element.  Use unit attribute for units (cm, in, dpi, etc.).</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
                <xsd:extension base="basicString">
                    <xsd:attribute name="type" type="measurementsTypeType"/>
                    <xsd:attribute name="unit" type="measurementsUnitType"/>
                    <xsd:attribute name="shape">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="oval"/>
                                <xsd:enumeration value="cube"/>
                                <xsd:enumeration value="sphere"/>
                                <xsd:enumeration value="rectangle"/>
                                <xsd:enumeration value="circle"/>
                                <xsd:enumeration value="irregular"/>
                                <xsd:enumeration value="landscape"/>
                                <xsd:enumeration value="portrait"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>        
    </xsd:override>
    
    <!-- ###### extension ##### -->
    <xsd:attributeGroup name="globalClusterAttributes">
        <xsd:attribute name="lastAccessed" type="xsd:dateTimeStamp"></xsd:attribute>
    </xsd:attributeGroup>

    <xsd:complexType name="alternativeNotationDateType">
        <xsd:simpleContent>
            <xsd:extension base="basicString">
                <xsd:attribute name="type" use="required">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="before"/>
                            <xsd:enumeration value="after"/>
                            <xsd:enumeration value="about"/>
                            <xsd:enumeration value="probably"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>


    <xsd:complexType name="geoType">
        <xsd:annotation>
            <xsd:documentation>
                Element containing a latitude and a logitude
            </xsd:documentation>
        </xsd:annotation>
        <xsd:all minOccurs="0">
            <xsd:element name="lat" type="xsd:string" maxOccurs="1" minOccurs="1"/>
            <xsd:element name="long" type="xsd:string" maxOccurs="1" minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="epsg" type="xsd:string"/>
        <xsd:attribute name="url" type="xsd:string"/>
    </xsd:complexType>

</xsd:schema>
